.nav {

    -webkit-box-shadow: 55px 10px 5px 0px rgb(17, 16, 17);
    -moz-box-shadow: 55px 10px 5px 0px rgb(11, 11, 11);
    box-shadow: 55px 10px 5px 0px rgb(21, 20, 21);
}

.parent-container {
    display: flex;
    flex-direction: column;
}

.img-div {
    display: flex;
}

.img-home {
    width: 100%;
    object-fit: "contain";
    position: relative;
}



.align-play-icon {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: absolute;
    height: 100%; 
    width: 100%;

}


.align-side-icons {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-top: 300px;
    justify-content: flex-end;
    align-items: flex-end;
    right: 1px;
    position: absolute;
}

.header-options-align-right {
    margin-left: auto;
}

.align-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 490px;
    width: 65%;
    color: black;
}

.para {
    align-self: center;
    
    font-weight: 50;
    flex-wrap: wrap;
    color: grey;
  

}

.align-bottom-icons {
    display: flex;
    flex-direction: row;
}

.align-bottom-icons .left {
    display: flex;
    justify-content: flex-start;
}

.align-bottom-icons .right {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.img-icon {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.img-icon2 {
    width: 55px;
    height: 55px;
}

@media (min-width: 200px) and (max-width: 400px) {
    .parent-container {
        display: flex;
        flex-direction: column;
    }

    .img-div {
        display: flex;
    }

    .img-home {
        width: 100%;
        object-fit: "contain";
        position: relative;
    }

    .align-play-icon {
        display: flex;
        justify-content: center; 
        align-items: center; 
        position: absolute;
        height: 30%;
        width: 100%;
        
    }

    .align-play-icon .img-1{
        height: 50%;
    }

    .align-play-icon .img-2{
        height: 25%;
    }

    .align-side-icons {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        justify-content: flex-end;
        align-items: flex-end;
        right: 1px;
        position: absolute;
       
    }

    .header-options-align-right {
        margin-left: auto;
    }

    .align-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        justify-content: center;
        
        padding-left: 100px;
        width: 95%;
    }

    .para {
        align-self: center;
        font-weight: 50;
        flex-wrap: wrap;
        color: grey;
      
    
    }
    .align-bottom-icons {
        display: flex;
        flex-direction: row;
    }

    .align-bottom-icons .left {
        display: flex;
        justify-content: flex-start;
    }

    .align-bottom-icons .right {
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
    }

    .img-icon {
        width: 50%;
        height: 50%;
        object-fit: contain;
    }

    .img-icon2 {
        width: 55px;
        height: 55px;
    }
}

@media (min-width: 400px) and (max-width: 800px) {
    .parent-container {
        display: flex;
        flex-direction: column;
    }

    .img-div {
        display: flex;
    }

    .img-home {
        width: 100%;
        object-fit: "contain";
        position: relative;
    }

    .align-play-icon {
        display: flex;
        justify-content: center; 
        align-items: center; 
        position: absolute;
        height: 25%;
        width: 100%;
        padding-top: 80px;
        
    }

    .align-play-icon .img-1{
        height: 80%;
    }

    .align-play-icon .img-2{
        height: 10%;
    }

    .align-side-icons {
        display: flex;
        flex-direction: column;

        padding-top: 80px;

        justify-content: flex-end;
        align-items: flex-end;
        right: 1px;
        position: absolute;
    }

    .header-options-align-right {
        margin-left: auto;
    }

    .align-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        justify-content: center;
        
        padding-left: 100px;
        width: 95%;
    }

    .para {
        align-self: center;
        
        font-weight: 50;
        flex-wrap: wrap;
        color: grey;
      
    
    }

    .align-bottom-icons {
        display: flex;
        flex-direction: row;
    }

    .align-bottom-icons .left {
        display: flex;
        justify-content: flex-start;
    }

    .align-bottom-icons .right {
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
    }

    .img-icon {
        width: 50%;
        height: 50%;
        object-fit: contain;
    }

    .img-icon2 {
        width: 55px;
        height: 55px;
    }
}

@media (min-width: 800px) and (max-width: 1400px) {
    .parent-container {
        display: flex;
        flex-direction: column;
    }

    .img-div {
        display: flex;
    }

    .img-home {
        width: 100%;
        object-fit: "contain";
        position: relative;
    }

    .align-play-icon {
        display: flex;
        justify-content: center; 
        align-items: center; 
        position: absolute;
        height: 50%;
        width: 100%;
        padding-top: 100px;
        
    }

    .align-play-icon .img-1{
        height: 50%;
    }

    .align-play-icon .img-2{
        height: 25%;
    }

    .align-side-icons {
        display: flex;
        flex-direction: column;

        padding-top: 220px;

        justify-content: flex-end;
        align-items: flex-end;
        right: 1px;
        position: absolute;
    }

    .header-options-align-right {
        margin-left: auto;
    }

    .align-content {
        display: flex;
       
        align-items: center;
        padding-top: 30px;
        justify-content: center;
        
        padding-left: 350px;
       
    }

    .para {
        align-self: center;
        width: 80%;
        font-weight: 50;
        flex-wrap: wrap;
        color: grey;
    
    }

    .align-bottom-icons {
        display: flex;
        flex-direction: row;
    }

    .align-bottom-icons .left {
        display: flex;
        justify-content: flex-start;
    }

    .align-bottom-icons .right {
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
    }

    .img-icon {
        width: 50%;
        height: 50%;
        object-fit: contain;
    }

    .img-icon2 {
        width: 55px;
        height: 55px;
    }


}